.deps/
.dirstamp
.libs/
html/
latex/
.autotools
INSTALL
Makefile.in
README
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/*
missing
stamp-*
*~
*.a
*.cache
*.html
*.la
*.lo
*.log
*.o
*.plist
*.pyc
*.stamp
*.swp
*.trs
/Makefile
/TAGS
/GPATH
/GRTAGS
/GTAGS
/debugfiles.list
/debuglinks.list
/debugsources.list
/documentation.list
/test-driver